<mat-card *ngFor="let c of contents.items">
  <mat-card-title-group>
    <mat-card-title> {{c.key}} </mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-title-group>
  <mat-card-content> {{c.text}} </mat-card-content>
</mat-card>