<div class="mat-app-background mat-typography basic-container">
  <div class="headline"><h2>{{ title }}</h2></div>
  <mat-tab-group (selectedTabChange)="tabChange($event)" display="inline">
    <mat-tab *ngFor="let section of sections; index as i" label="{{section.key}}">
      <div class="cvsection">
        <app-cvlistsection *ngIf="section.type == 'list' && selectedTabIndex == i" [contents]="section.contents"></app-cvlistsection>
        <app-cvblurbsection *ngIf="section.type == 'blurb'" [contents]="section.contents"></app-cvblurbsection>
        <app-cardlist *ngIf="section.type == 'cardlist'" [contents]="section.contents"></app-cardlist>
      </div>
    </mat-tab>
  </mat-tab-group>
  <footer>Contact: niklas@nisbeth.dk, tel. +45 28602318</footer>
</div>