<mat-card>
  <mat-card-title-group>
    <mat-card-title>{{ contents.headline }}</mat-card-title>
    <mat-card-subtitle>{{ contents.subtitle }}</mat-card-subtitle>
  </mat-card-title-group>
  <mat-card-content>
    <p *ngFor="let s of contents.content">{{ s }}</p>
    <ul>
      <li *ngFor="let l of contents.links">
        <a href="{{l.url}}">{{ l.text }}</a>
      </li>
    </ul>
  </mat-card-content>
</mat-card>
