<mat-accordion>
  <mat-expansion-panel  *ngFor="let item of contents.items">
    <mat-expansion-panel-header>
      <mat-panel-title> {{ item.name }} </mat-panel-title>
      <mat-panel-description> {{ item.place }} ({{ item.time }}) </mat-panel-description>
      <mat-panel-description class="subheading-1"> {{ item.keywords }} </mat-panel-description>
    </mat-expansion-panel-header> 
    <p class="demo-2" *ngFor="let line of item.desc" >{{ line }}</p>
  </mat-expansion-panel>
</mat-accordion>
