/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/theming";

@include mat-core();

$cv-primary: mat-palette($mat-indigo);
$cv-accent: mat-palette($mat-purple);
$cv-theme: mat-light-theme($cv-primary, $cv-accent);
$primary: mat-color(map-get($cv-theme, primary));
$accent: mat-color(map-get($cv-theme, accent));

@include angular-material-theme($cv-theme);

body { 
  font-family: Fira, Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
  margin: 1vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 98vh;
};

footer {
  margin-top: auto;
  padding: .5em 1em;
  display: flex;
  align-content: center;
  color: white;
  background-color: $primary;
};

.headline {
  height: 4em;
  h2 {
  padding: 0em;
  margin: 0em;
  };
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary;
  color: white;
};

.cvsection {
  padding-bottom: 10px;
}
